<div class="col-xs-12">
    <div class="box" id="sup_header">

        <form id="sup_form"  method="GET" action="{{ site }}/task/saveTask" accept-charset="UTF-8">
            <div class="col-md-0">
                <div class="box box-primary">
                    <div class="box-body">
                        <div class="form-group col-md-2">
                            <label for="name" class="control-label">Укажите тему сообщения</label>
                            *<input class="form-control" id="sup_title" type="text" />

                            {% if not client.contact_phone %}
                            <label for="name" class="control-label">Укажите свой номер телефона</label>
                            <input value="{{ client.contact_phone|default_if_none:"" }}" class="form-control"  id="sup_phone" type="text" />
                            {% else %}
                                <input value="{{ client.contact_phone }}" class="form-control"  id="sup_phone" type="hidden" />
                            {% endif %}
                            <!--
                            <label for="name" class="control-label">Файл</label>
                            <input type="file" id="sup_fileBox" />
                            -->
                        </div>   
                        <div class="form-group col-md-4">
                            <label for="name" class="control-label">Опишите проблему</label>
                             *<textarea style="height: 50px;" class="form-control" id="sup_content"></textarea>

                             
                                <label for="name" class="control-label">Файл</label>
                                <input type="file" id="sup_file_comment" class="file">
                            

                        </div>     
                        
                        <div class="form-group col-md-4">
                                <label for="name" class="control-label">Выберите категорию сообщения</label>
                                *<select class="form-control" id="sup_category">
                                    {% for i in categories %}
                                        <option value="{{ i.pk }}"> 
                                            {{ i.title }}
                                        </option>
                                    {% endfor %}
                                </select>

                                {% if not client.contact_email %}

                                *<label for="name" class="control-label">Укажите свой почтовый ящик для обратной связи</label>
                                
                                <input  value="{{ client.contact_email|default_if_none:"" }}" class="form-control" id="sup_email" type="text" />                             
                                {% else %}
                                <input  value="{{ client.contact_email }}" class="form-control" id="sup_email" type="hidden" />               
                                {% endif %}

                                <!--
                                <label for="name" class="control-label">Подкатегория</label>
                                <select class="form-control"  id="sup_subcategory">
                                    {% for i in subcategories %}
                                        {% if i.category_id == 1 %}
                                        <option value="{{ i.pk }}"> 
                                            {{ i.title }}
                                        </option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                -->

                        </div>                        
            

                        <div class="form-group col-md-2" style="height: 60px;">
                            <a href="#" id="sup_add_task_button" class="btn btn-flat bg-olive margin ">Добавить задачу</a>
                            
                        </div> 
                    </div>
                </div>
            </div>
    
            <div class="clearfix"></div>
            
        </form>

    </div>
</div>

<script>

    support_app.subcategories = {};
    {% for c in categories %}

        support_app.subcategories['{{c.pk}}'] = [];
        {% for s in subcategories %}
            {% if s.category.pk == c.pk %}
               support_app.subcategories['{{c.pk}}'].push({'id':{{ s.id }}, 'name': '{{ s.title }}' });
            {% endif %}
        {% endfor%}
    {% endfor %}

    $('#sup_category').change(function(e){
        let val = $(e.target).val();
        $('#sup_subcategory').empty();
        for (const key of Object.keys(support_app.subcategories)) {
            
            if (val==key){
                for (const skey of Object.keys(support_app.subcategories[key])) {
                    {
                        $('#sup_subcategory').append('<option value="'+skey+'">'+support_app.subcategories[key][skey]['name']+'</option>');
                    }
                }
            }
            
        }        
    })

    var validate_support_form = function(data){
        if(data.title.length == 0){
            return { 'status': false, 'message': 'Укажите тему сообщения' };
        }
        if(data.content.length == 0){
            return { 'status': false, 'message': 'Опишите проблему ' };
        }
        if(data.email.length == 0){
            return { 'status': false, 'message': 'Укажите свой почтовый ящик для обратной связи' };
        }
        return { 'status': true, 'message': 'ok' };
    };

    $('#sup_add_task_button').on('click',function(){
        var formData = {}
        //console.log($('#sup_file_comment')[0].files[0]);
        if($('#sup_file_comment')[0].files[0]!==undefined){
            var formData = new FormData();
            formData.append('file', $('#sup_file_comment')[0].files[0]);
            //formData.append('task_id', $(e.target).attr('data-id-task'));
        }
        
        let data = {
            'title': $('#sup_title').val(),  
            'content': $('#sup_content').val(), 
            'email': $('#sup_email').val(), 
            'phone': $('#sup_phone').val(), 
            'category': $('#sup_category').val(),  
            'subcategory': $('#sup_subcategory').val(),
            'source': support_app.site_name
        };

        var validate = validate_support_form(data)
        if(validate.status){
            $.post( "{{ site }}/task/saveTask", data, function(rez){
                support_app.get_task_list();
                if(formData!=={}){
                    
                    formData.append('task_id', rez)
                    setTimeout( function(){
                        $.ajax({
                            url : '{{ site }}/task/saveFile',
                            type : 'POST',
                            data : formData,
                            processData: false,  
                            contentType: false,  
                            success : function(data) {
                                //alert(data);
                                //support_app.show_task(data);
                            }
                        });  
                    },3000);
                }
            } );
        } else {
            alert(validate.message);
        }
        
        
        /*
        $.ajax({

        url: 'https://www.googleapis.com/moderator/v1/series?key='+key,
        data: data,
        type: 'POST',
        headers: {  'Access-Control-Allow-Origin': 'http://locotrade.wezom.agency' },
        success: function() { support_app.get_task_list(); },
        error: function() { alert('Failed!'); },
        beforeSend: setHeader
        });
        */


    })

    //console.log(support_app.subcategories);
</script>